/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* #nav-logo img {
    height: 15px;
} */

/* body {
    
    background-color: rgb(243, 242, 242);
} */

#right-icons a {
    text-decoration: none;
    color: black;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: black;
    text-decoration: underline;
}

#right-icons a:hover {
    text-decoration: underline;
}

#hero {
    position: absolute;
    bottom: 40px;
    left: 65px;
}

.hero-section {
    height: 100vh;
    background-image: url(./Koio/imgi_5_HERO_Mobile_BFCM_Levanto.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* Dark overlay */
}



#boots {
    height: 100vh;
    background-image: url(./Koio/imgi_7_Product-Callout_Mobile_BFCM_Boots.png);
    background-size: 100% 100%;
    margin-top: 10px;
    position: relative;
}

/* #boots,
#bestsellers {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
} */

#bestsellers {
    height: 100vh;
    background-image: url(./Koio/imgi_9_Product-Callout_Mobile_BFCM_Bestsellers-Monza.png);
    background-size: 100% 100%;
    margin-top: 10px;
    background-repeat: no-repeat;
    position: relative;
}

#bestsellers_btn,
#boots_btn {
    position: absolute;
    right: 27%;
    bottom: 10%;
}

#hero,
#boots,
#bestsellers,
#Responsibility,
#Discover,
#Shop_Essentials,
#press1 h1,
#style_text h1,
#bag h4{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

.card-body h1 {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

#Craft a:hover {
    text-decoration: underline;
}


#desktop_frame2,
#desktop_frame1 {
    display: none;
}

#press1 h1 {
    color: aliceblue;
}

#Press_Highlights {

    height: 200px;
    background-color: #841719
}

.press-logo {
    margin-top: 20px;
}


#owl-demo .item {
    margin: 3px;
}


#owl-demo .item {
    text-align: center;
    padding: 20px 70px;
}

#owl-demo img {
    width: 280px;
    margin: auto;
}

#canva_shop_now{
    text-decoration: none;
}

@media only screen and (min-width:1200px) {

    #extra_link {
        display: none;
    }

    #nav_list li {
        padding-left: 50px;
        padding-right: 50px;
    }

    #hero {
        position: absolute;
        bottom: 60px;
        left: 550px;
    }

    .hero-section {
        height: 100vh;
        background-image: url(./Koio/imgi_6_HERO_Desktop_BFCM_Levanto.png);
        background-size: 100% 100%;
        position: relative;
    }

    #boots {
        background-image: url(./Koio/imgi_8_Product-Callout_Desktop_BFCM_Boots.png);
    }

    #bestsellers {
        background-image: url(./Koio/imgi_10_Product-Callout_Desktop_BFCM_Bestsellers-Monza.png);
    }

    #bestsellers_btn,
    #boots_btn {
        position: absolute;
        right: 38%;
        bottom: 10%;
    }

    #Responsibility,
    #Discover {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    #Craft {
        position: absolute;
        top: 18%;
    }

    #Capri {
        position: absolute;
        right: 6%;
        top: 25%;
    }

    #mobile_frame2,
    #mobile_frame1 {
        display: none;
    }

    #desktop_frame2,
    #desktop_frame1 {
        display: block;
    }

    #owl-demo img {
        width: 350px;
        margin: auto;
    }
}