#right-icons a {
    text-decoration: none;
    color: black;
}

.nav-item a {
    color: black;
}

.nav-item a:hover {
    color: black;
    text-decoration: underline;
}

#right-icons a:hover {
    text-decoration: underline;
}

.login-title {
    font-size: 40px;
    font-weight: 500;
}

.login-box input {
    height: 50px;
    border-radius: 0;
}

#btn-black {
    width: 100%;
    padding: 14px;
    border-radius: 50px;
}

.signup-box {
    margin-left: 80px;

}

/* registration page css */
.form-control {
    height: 48px;
    border-radius: 0;
}

#signup_btn {
    border-radius: 10px;
}

.signup-container input {
    margin-bottom: 25px;
}

.signin-box {
    margin-left: 80px;
}

#signin_btn {
    width: 300px;
    padding: 14px;
    border-radius: 10px;
}

#signup_btn{
     width: 300px;
    padding: 14px;
    border-radius: 10px;
}

@media only screen and (min-width:1200px) {

    #extra_link {
        display: none;
    }

    #nav_list li {
        padding-left: 50px;
        padding-right: 50px;
    }

}